.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card.text-center {
    width: 500px;
    border-radius: 20px;

}

.card-body {
    background-color: rgb(11, 113, 113);
}

body {
    background-color: #691c24;
}